body{
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Hammersmith One', sans-serif;
}

.container{
  width: 1000px;
  height: 1000px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1%;
  padding: 100px;
}

header{
  text-align: center;
  color: rgb(26 220 26);
}

.logo{
  width: 250px;
}

nav{
  background-color: rgb(26 220 26);
  padding: 15px;
  text-align: center;
}

main{
  color: white;
  line-height: 30px;
}

.nome-monopattino{
  font-size: 24px;
  display: inline-block;
  margin-top: 40px;
}

.barra{
  height: 25px;
  border-radius: 5px;
}

/* Queste sono le 3 barre di stato di dimensione e colore diverso tra di loro */
#stato-carica1{
  width: 35%;
  background-color: rgb(222 185 67);
}

#stato-carica2{
  width: 60%;
  background-color: rgb(23 189 63);
}

#stato-carica3{
    width: 15%;
    background-color: rgb(191 59 33);
}
